.caro_width{
    width:50%
}
.img-radius{
    border-radius: 30px;
}
.carousel-inner{
    border-radius: 30px;
    border: 3px solid red;
}
.caro_border{
    height: 0px;
}
@media only screen and (max-Width: 768px){
    .caro_width{
        width: 100%;
    }
}